<html>
    <head>
        <title>Life Palette by AG | Exploring Health, Career, and Relationships</title>
        <link rel="stylesheet" href="style.css">
        <link rel="icon" type="image/png"  href="assets/images/logo.png">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    </head>

    <body>
    
    <div id="app">  
        <header>
            <h1>Life Palette by AG</h1>
        </header>

        <main>
            <section id="home">
                <h2 id="welcome-message">{{ greetingMessage }}</h2>
            </section>

            <section id="about">
                <h2>Colour Me</h2>
                <br>
                <p>Isn't life just utterly overwhelming? It's like a vibrant and intricate painting, full of colors and details that sometimes blur into a mess. We're constantly juggling between our dreams, responsibilities, trying to find that elusive balance.</p>
                <br>
                <p>I've decided to make a public commitment to myself, a promise to stay accountable and monitor my journey through this labyrinth. I have this tendency to develop a laser focus on one aspect of my life, pouring all my energy and passion into it. While that dedication has led to some achievements, it often came at a cost.</p>
                <br>
                <p>I've seen how my intense pursuit of one goal could inadvertently neglect other crucial areas of my life. It's like a see-saw; when one side soars, the others dip, and the overall balance gets disrupted.</p>
                <br>
                <P>So, I've embarked on a journey to discover the intricate threads that connect health, career, and relationships. I'm here to share my insights, my challenges, and my triumphs. </P>
                <br>
                <p>In my pursuit of balance and growth, I've established three key gauges: <b>Health, Career, and Relationships</b>, each with three critical subcategories. Regular scoring on a scale from 1 to 10.</p>
                <br>
                <table>
                    <th>Health 🌿</th>
                    <th>Career 💼</th>
                    <th>Relationships 🤝</th>
                    <tr>
                        <td>Body 💪</td>
                        <td>Mission 🚀</td>
                        <td>Mentors 💼</td>
                    </tr>
                    <tr>
                        <td>Mind 🧠</td>
                        <td>Money 💰</td>
                        <td>Family 👨‍👩‍👧</td>
                    </tr>
                    <tr>
                        <td>Soul ✨</td>
                        <td>Growth 🌱</td>
                        <td>Friends 🙌</td>
                    </tr>
                </table>
                <br>
                <div class="iframe-container">
                    <iframe width=600 height=300 seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vR_IbMfNmCLjGJhUU7vw0Gtc1CGNzF-SdZ6C_WiRMhDx6J-1Y73j_wjuxROEC6Qb5gGlhhP7tDRm0ZM/pubchart?oid=1004413372&amp;format=interactive"></iframe>
                </div>
                <p>Welcome to "Life Palette by AG." Let's make every color count. 🎨✨</p>
                <br>
            <div class="review-main">
                <h2>Let's review:</h2>
                <br>
                <nav>   
                    <ul>
                        <li> <a href="#" id="button-health" class="button-link" @click="navigateTo('health', $event)">🌿 Health Hues</a></li>
                        <li> <a href="#" id="button-career" class="button-link" @click="navigateTo('career', $event)"> 💼 Career Canvas </a></li>
                        <li> <a href="#" id="button-relationships" class="button-link" @click="navigateTo('relationships', $event)"> ❤️ Relationship Shades </a></li>  
                    </ul>
                <nav>
            </div>
            </section>
      
            <section id="health" v-if="currentView === 'health'">
                <h2>Health Hues</h2>
                <p>Health has become my top priority, especially as I approach my 29th birthday in 2024. It's time to get serious about my well-being! I'll admit, I've fallen into some not-so-great habits—ordering takeout, not moving enough, and forgetting to stay hydrated.</p>
                <br>
                <p>I've taken some reasonable actions. Here's my progress today & YTD:</p>
                <div id="health-chart">
                    <iframe width="474" height="356" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vR_IbMfNmCLjGJhUU7vw0Gtc1CGNzF-SdZ6C_WiRMhDx6J-1Y73j_wjuxROEC6Qb5gGlhhP7tDRm0ZM/pubchart?oid=1476258990&amp;format=interactive"></iframe>
                </div>
                <br>
                <p>My goals are:</p> 
                        <p>📉 Losing 5 kg</p> 
                        <p>🤸‍♂️ Boosting flexibility</p>
                        <p>⚡ Supercharging my energy levels</p>
                <br>
                <div class="iframe-container"> 
                    <iframe width="600" height="300" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vR_IbMfNmCLjGJhUU7vw0Gtc1CGNzF-SdZ6C_WiRMhDx6J-1Y73j_wjuxROEC6Qb5gGlhhP7tDRm0ZM/pubchart?oid=1643313093&amp;format=interactive"></iframe>
                </div>
                <p>This is where you can find my super-quick recipes and exercise routines</p>
                    <article class="blog-post">
                        <h3>Healthy (ish) meals!</h3>
                        <p> TO BE ADDED</p>
                    </article>
            </section>

            <section id="career" v-if="currentView === 'career'">
                <h2>Career Canvas</h2>
                <p>Honestly this might be my favourite section!</p>
            </section>

            <section id="relationships" v-if="currentView === 'relationships'">
                <h2>Relationship Shades</h2>
                <p>This is my least favourite thing to discuss or think about. I often take this for granted or avoid it at all cost. </p>
            </section>


            <section class="blog-posts" v-if="currentView === 'blog-posts'">
                <article class="blog-post">
                    <h2>Objectives for 2024</h2>
                    <p>I have used a goals wheel to set my objectives for 2024.
                        it appears that I tend to obssess over one thing only, neglecting other areas of my life. 
                        In 2024, I aim to gain a better balance and avoid extremes. 
                    </p>
                </article>

            </section>
        </main>
        
        <footer>
            <p>&copy; 2023 Life Palette by AG</p>
        </footer>
    </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
        <script src="app.js"></script>
    </body>
</html>

